# Elastic Beanstalk Python configuration
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "src.server:app"
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:application:environment:
    PYTHON_VERSION: 3.11
    PYTHONUNBUFFERED: 1
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
